@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Bebas+Neue&family=Bungee&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Libertinus+Serif+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 240, 237);
}

h1 {
    text-align: center;
}



h3 {
    margin: 13px;
    font-family: 'Anek Telugu';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    height: 60px;
    background-color: rgb(124, 35, 140);
    margin: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: rgb(246, 240, 237);
}

nav {
    background-color: rgb(30, 27, 24);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 10px;
}

ul {
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
}

li {
    display: inline;
    margin: 3em;
    padding: 10px, 30px;
}

li a {
    color: rgb(246, 240, 237);
    text-decoration: none;
}

li a:hover {
    font-size: 20px;
    transition: 0.9s;
}

hr {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


p a:link {
    text-decoration: none;
    color: purple;
}

p a:hover {
    color: blue;
    text-decoration: overline;
}

i {
    margin: 10px;
}

.bloque1 {
    display: inline;
}

.logoAca-header {
    position: absolute;
    left: 100px;
    height: 100%;
}

.logoAca {
    display: block;
    margin: 0 auto;
}

.filro-fondo {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100%;
}

.rebajas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.rebajas img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.rebajas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: initial;
    padding: 10px;
}

.warnings {
    color: red;
    font-weight: bold;
    font-family: 'Bungee';
    margin-bottom: 100px;
}

.targeta {
    /*box-shadow: 0 4px 8px 0 rgb(44, 41, 37);*/
    overflow: hidden;
    max-width: 330px;
    height: 100%;
    margin: auto;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    border-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
}

.conte-ofertas {
    display: flex;
    justify-content: space-evenly;
}




.conte-conta {
    text-align: justify;
    padding: 50px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgb(44, 41, 37);
    width: 1200px;
    border-radius: 40px;
    padding-left: 500px;
}

.conte-dire {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.mapa iframe {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.direccion-info {
    max-width: 400px;
    text-align: center;
}

.dire {
    padding: 20px;
    font-size: 18px;
    font-family: 'Anek Telugu';
}

.img {
    margin-top: 20px;
    width: 350px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 6px 30px 1px #000;
}

.footer {
    width: auto;
    height: 100px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    padding-top: 40px;
}

.titulo {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.d-conta {
    margin-top: 15px;
}

.desc {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400px;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    color: black;
    height: 100px;
    width: 293px;
}

.img {
    margin-top: 40px;
    margin-left: 40px;
    width: 350px;
    justify-content: center;
    box-shadow: 0 6px 30px 1px #000;
}

@media (max-width:1050px) {
    .conte-ofertas {
        flex-direction: column;
        align-items: center;
    }

    .targeta {
        max-width: 300px;
        margin: 20px 0;
    }

    .desc {
        width: auto;
        height: auto;
    }

    .image img {
        width: 400px;
        height: 200px;
        object-fit: contain;
    }

    .conte-conta {
        width: 90%;
        padding: 20px;
        padding-left: 20px;
        box-shadow: none;
        border-radius: 20px;
    }

    .rebajas {
        flex-direction: column;
        text-align: center;
    }

    .rebajas img {
        width: 180px;
        height: 180px;
        margin-bottom: 10px;
    }

    .logoAca {
        margin: 0 auto;
        width: 400px;
        height: auto;
        align-items: center;
    }

    /*Lo del mapa*/

     .conte-dire {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .mapa iframe {
        width: 100%;
        height: 300px;
    }

    .direccion-info {
        width: 90%;
    }

    .img {
        width: 80%;
        margin: 10px auto;
        display: block;
        box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    }

}